.card {
  width: 540px;
  padding: 0;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card__content {
  width: 100%;
  padding: 0;
}

.card__title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-of-type {
  padding: 0;
}

.card__list-divider {
  border-bottom: 1px solid #838383;
  flex-grow: 3;
}
