/* Página principal de la cafetería */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 0px 40px 80px;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
}

/* Agrega las propiedades flex aquí */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none; /* Restablece los estilos predeterminados de list aquí */
  padding: 0;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 80px;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

span {
  display: block;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  font-weight: 500;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__footer-heading {
  margin: 0;
  padding: 0;
}

.header__list {
  list-style-type: none; /* El siguiente código elimina los estilos predeterminados del navegador para las listas */
  padding: 0;
  margin: 0;
}

.header__address {
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 40px;
  right: 80px;
}
