/* Página de Recetas */
.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  padding: 24px 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  width: 960px;
  height: 273px;
  margin: auto;
  gap: 40px;
  display: flex;
}

.recipes__video-item {
  margin: auto;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 24px 0 0;
  margin: 0;
}
