/* Página de reservaciones */
.reservation {
  margin: 0;
  padding-bottom: 120px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reservation__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
}
