.page {
  /* Agregar las propiedades de la clase page aquí */
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /*para centrar bloque en pantallas con ancho >1600px*/
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* font-family: 'Noto Serif', 'Times New Roman', serif; */
}